body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: red; 
    background-image: url("images/red-diagonal-striped-plastic-texture.jpg");
    font-family: "Jersey 10";
    font-size: 40px;
    color: white;
}

.arcade {
    width: 87vw;
    height: 98vh;
    border-radius: 50px;
    background-color: #222222;
    box-shadow: 0 0 5px 1px black; /* Adds a glowing red border */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("images/guy_karting_bg_cropped-removebg-preview.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
    background-position-y: 80%;
    background-clip: padding-box;
    overflow-y: auto;
    animation: bgColorAnimation 2s infinite ease-in-out;
}

h1{
    color:white;
    font-family: "Jersey 10";
    font-size: 100px;
    animation: textColorAnimation 1s infinite ease-in-out;
    text-align:center;
}
.title{
    position:absolute;
    margin-bottom:3%;
}
#rasp{
    font-size: 0.3em;
}

.options {
    position: absolute;
    display: flex;
    flex-direction: column;
}

#main-options{
    left: 15%; /* Adjusts horizontal position within the arcade div */
    top: 30%; /* Adjusts vertical position within the arcade div */
}
.options ul {
    list-style-type: none;
    padding: 0;
}

.options li {
    animation: optionsAnimation 1s infinite ease-in-out;
    font-size: 1.5em;
    margin: 15px 0;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    
}

.options li:hover {
    color: green;
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.option:hover{
    color: green;
    transform: scale(1.1);
}


#jouer{
    background-image: url("images/blue_karting_guy.png");
    background-position: left;
    background-position-y: 65%;
}

#player-select{
    right:15%;
    flex-direction: row;
    top: 30%;
}

.back {
    position: absolute;
    bottom: 3%; /* Adjust distance from bottom */
    left: 15%;   /* Adjust distance from left */
    cursor: pointer;
    font-size: 58px;
}
.back:hover{
    color: green;
}

.infos {
    position: absolute;
    top: 10%;
    width: 80%;
    height: 80%;
    background-color: #222222;
    opacity: 0.99;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 2;
    overflow: auto;
    left: 50%;
    transform: translateX(-50%);
}

.infos h1 {
    margin: 0 auto 20px auto; /* Centers the title horizontally */
    text-align: center; /* Ensures the text aligns in the center */
    margin-top: 3%;
}

.infos h2 {
    
    margin: 20px 0 10px 0; /* Adds space above and below the subtitles */
    font-size:3.5rem;
}

.infos ul {
    padding: 0;
    margin: 0 0 0 20px; /* Aligns the list to the left with some indentation */
    font-size:2.5rem;
    margin-top: 10px;
}

.infos li {
    margin-bottom: 10px; /* Adds spacing between list items */
    text-align: left; /* Ensures left alignment */
}

.infos-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Distributes items with space between them */
    width: 100%; /* Ensures the container spans the full width */
}

.info-elem{
    display: flex;
    flex-direction: column;
}

#sources{
    margin-right:0%;
    margin-left:20%;
}

#auteurs{
    margin-left:7%;
    width:550px;
    
}

.back2{
    position: absolute;
    left: 3%;   /* Adjust distance from left */
    cursor: pointer;
    font-size: 58px;
    color:white;
}
.back2:hover{
    color:green;
}

#b2j2{
    position:contain;
    margin-left: 8%;
    margin-top: 4%;
}

.additional-info {
    display: none; /* Initially hides the additional info */
    color: #ffcc00; /* Golden color for the additional info */
    margin-left: 10px;
    transition: opacity 0.3s ease-in-out;
    font-size: 1.8rem;
}

.auteurs-li:hover{
    color: aqua;
    transform: scale(1.05);
    transition: ease-in-out;
}
.auteurs-li:hover .additional-info {
    display: inline; /* Makes the additional info visible */
    opacity: 1; /* Ensures it fades in smoothly */
}

.login-form {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    color: white;
    text-align: left;
    padding: 30px;
}

.login-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-family: "Jersey 10";
}

.login-form-box input[type="text"],
.login-form-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    font-family: "Jersey 10";
}

.login-form-box input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: red;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "Jersey 10";
    cursor: pointer;
}

.login-form-box input[type="submit"]:hover {
    background: darkred;
}

/* Signup Section */
.signup-form {
    position: absolute;
    top: 30%;
    right: 10%;
    width: 30%; 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    color: white;
    text-align: left;
}

.signup-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-family: "Jersey 10";
}

.signup-form-box input[type="text"],
.signup-form-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    font-family: "Jersey 10";
}

.signup-form-box input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: red;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "Jersey 10";
    cursor: pointer;
}

.signup-form-box input[type="submit"]:hover {
    background: darkred;
}

/* Error Message Styling */
.error-message {
    color: red;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#login-arcade{
    background-image: none;
}


.joueur {
    display: flex;
    max-width: 180px;
    flex-grow: 0; /* Prevent items from stretching */
    flex-direction: column;
    align-items: center; /* Center-align content */
    text-align: center;
    padding: 10px;
    margin-top: 8%;
}

.joueur h2{
    animation: optionsAnimation 1s infinite ease-in-out;
}

#optionel{
    animation: none;
    font-size: 0.3em;
}
#j1{
    margin-right: 10%;    
}

#j2{
    margin-left: 10%;    
}

.buttons{
    flex-direction: row;
}

.buttons button{
    background-color:rgb(220, 40, 40);
    color:white;
    font-family: "Jersey 10";
}
.buttons button:hover{
    background-color:darkred;
}

#lancer {
    position: absolute;  
    bottom: 10%;  
    left: 50%;  
    transform: translateX(-50%);  
    height: auto;  
    width: auto;  
    background-color: green;
    font-family: "Jersey 10";
    font-size: 40px;
    color: white;
}

#lancer:hover {
    background-color: #004d00;  
}

.p1{
    color:#f80505;
}

#p2{
    color:#009dff;
}

.logout{
    margin-left:70%;
    margin-top:6%;
    position:absolute;
}
.logout:hover{
    color: red;
    transform: scale(1.001);
    
}
.logoutp2{
    background-color:darkred;
    color:white;
    font-family: "Jersey 10";
    font-size: 30px;
    

}


.result-container{
    align-items: center;
    align-content: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
}

.score{
    color:yellow;
    font-size:3rem;
}

.rang{
    color:#ffad33;
    font-size:3rem;
    text-align: center;
}

.username{
    color: rgb(84, 193, 230);
    text-align:center;

}
.biographie p{
    text-align:center;
}
.biographie{
    list-style-type :none;
}
#msg-pasdescore{
    text-align:center;
}

#p2_username{
    color: red;
}

@keyframes textColorAnimation {
    0% {
        color: white; /* Start color */
    }
    50% {
        color: #e6e6e6; /* End color */
        text-shadow: 
        1.5px 1.5px 0 red, /* Right-Bottom */
        -1.5px 1.5px 0 red, /* Left-Bottom */
        1.5px -1.5px 0 red, /* Right-Top */
        -1.5px -1.5px 0 red, /* Left-Top */
        0 1.5px 0 red, /* Bottom */
        0 -1.5px 0 red, /* Top */
        1.5px 0 0 red, /* Right */
        -1.5px 0 0 red; /* Left */
        transform: scale(1.001)
    }
    
    100% {
        color: white; /* End color */
    }
}

@keyframes optionsAnimation {
    0% {
        color: white; /* Start color */
        
    }
    50% {
        color: #e6ffe6; /* End color */
        text-shadow: 
        1.5px 1.5px 0 green, /* Right-Bottom */
        -1.5px 1.5px 0 green, /* Left-Bottom */
        1.5px -1.5px 0 green, /* Right-Top */
        -1.5px -1.5px 0 green, /* Left-Top */
        0 1.5px 0 green, /* Bottom */
        0 -1.5px 0 green, /* Top */
        1.5px 0 0 green, /* Right */
        -1.5px 0 0 green; /* Left */
        transform: scale(1.01);
        }

    100% {
        color: white;
    }

}

@keyframes bgColorAnimation {
    0% {
        background-color: #333333; /* Start color */
    }
    50% {
        background-color: #222222;; /* Midway color */
    }
    100% {
        background-color: #333333; /* End color */
}
}